@tailwind base;
@tailwind components;
@tailwind utilities;

.slideC {
  /* position: relative; */
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 300px;
  height: 272px;
}

.slide {
  /* width: 362px;
  height: 272px; */
  /* transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s; */
  position: absolute;
  top: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
}
/* 
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */
